<!DOCTYPE html>
<html>
  <head>
    <title>DepartmentStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="navigation">
      <ul>
        <%= link_to departments_path, :index => 'go' do %>
          <li>Home</li>
        <% end %>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
